.input-field {
  margin-bottom: 20px;
}

.input-field label {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 10px;
}

.input-field input {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
}