.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: auto;
  width: 40%;
  margin: 10% auto ;
  background-color: #fff;
  color: #000;
  border-radius: 30px;
}

.container img {
  width: 50%;
  height: 100%;
  object-fit: contain;
}

.container .form {
  width: 600px;
  display: flex;
  flex-direction: column;
  height: 300px;
}

.content {
  background-color: #fffdfd;
  padding: 20px;
  flex: 1;
}

.input-field {
  margin-bottom: 20px;
}

.input-field label {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 10px;
}

.input-field input {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
}

.button-login {
  background-color: #FFA500;
  color: #FFF;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  background-color: #FFF;
}

.forgot-password {
  font-size: 16px;
  font-weight: bold;
  margin-top: 10px;
}

.forgot-password a {
  text-decoration: none;
  color: #000;
}