.container {
  box-sizing: border-box;
  background-color: aquamarine;
  max-width: 400px;
  width: 100%;
  margin: 10px 0px;
  padding: 0px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.container label {
  font-size: 16px;
  font-weight: bold;
}

.container input {
  width: 100%;
  padding: 8px;
  border: 1px solid #000; /* adicionado borda preta */
  border-radius: 5px;
  font-size: 8px;
}