.input-field {
  box-sizing: border-box;
  background-color: aquamarine;
  width: 100%;
  margin: 20px 0px;
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: space-evenly;
}

.input-field label {
  font-size: 16px;
  font-weight: bold;
}

#teste {
  width: 100%;
  padding: 8px;
  border: 1px solid var(--cinza-claro-medio); /* adicionado borda preta */
  border-radius: 5px;
  font-size: 16px;
}