/* .container {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: space-between;
  padding: 20px;
  margin: 0 auto;
  max-width: 900px;
  width: 100%;
  height: auto;
  background-color: blueviolet;
}

.img-login {
  flex: none;
  width: 300px;
  

} */