:root{
  --fonte: "Inter", sans-serif;
  --branco: #fff;
  --preto: #000;
  --cinza-medio: #393939;
  --cinza-claro: #EDEDED;
  --laranja-escuro: #FF5C00;
  --laranja-medio: #FF7A29; 
  --laranja-claro: #FFA401; 
  --bgLinearGradiente: linear-gradient(180deg, #FFA800 0%, #FF5C00 100%); 

}


body {
  box-sizing: border-box;
  margin: 0;
  font-family: var(--fonte);
  font-style: var(--cinza-medio);
  background: var(--bgLinearGradiente);
  background-size: 100% 100vh;
  background-repeat: no-repeat;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  display: flex;
  flex-direction: column;
  height: 100vh;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
